<h2 class="png-fix">Other Featured Videos</h2>

<div class="featured-video-small" style="margin-left: -4px;">
	<div class="featured-image-small png-fix">
		<a href="<%= videoUrl({ slug: 'introduction-to-cloud' }) %>" title="Watch this video"><img src="images_featured_vids/thumb_small_cloud.png" alt="Intro to Aptana Cloud" /></a>
	</div>
	
	<a href="<%= videoUrl({ slug: 'introduction-to-cloud' }) %>" title="Intro to Aptana Cloud" class="title">Intro to Aptana Cloud</a>
	<span>Posted in: <a href="<%= topicUrl({ slug: 'aptana-cloud' }) %>" title="Aptana Cloud">Aptana Cloud</a></span>
</div>

<div class="featured-video-small" style="margin-left: -4px;">
	<div class="featured-image-small png-fix">
		<a href="<%= videoUrl({ slug: 'introduction-to-aptana-studio-12' }) %>" title="Watch this video"><img src="images_featured_vids/thumb_small_studio-12.png" alt="Intro to Studio 1.2" /></a>
	</div>
	
	<a href="<%= videoUrl({ slug: 'introduction-to-aptana-studio-12' }) %>" title="Intro to Studio 1.2" class="title">Intro to Studio 1.2</a>
	<span>Posted in: <a href="<%= topicUrl({ slug: 'aptana-studio' }) %>" title="Aptana Studio">Aptana Studio</a></span>
</div>

<div class="featured-video-small" style="margin-left: -4px;">
	<div class="featured-image-small png-fix">
		<a href="<%= videoUrl({ slug: 'java-on-the-cloud' }) %>" title="Watch this video"><img src="images_featured_vids/thumb_small_javaonthecloud.png" alt="Java on the Cloud" /></a>
	</div>
	
	<a href="<%= videoUrl({ slug: 'java-on-the-cloud' }) %>" title="Java on the Cloud" class="title">Java on the Cloud</a>
	<span>Posted in: <a href="<%= topicUrl({ slug: 'aptana-cloud' }) %>" title="Aptana Cloud">Aptana Cloud</a></span>
</div>

<div class="clearfix"></div>