<div class="featured-left">
	<img src="images_global/img_featuredvideo.gif" alt="Featured Video" />
	<h1 class="myriad">Rails Support for the Cloud</h1>
	
	<div class="separator">&nbsp;</div>
	
	<p>
		Founder Paul Colton walks us through the basics of creating Ruby on Rails projects with Aptana RadRails, and then deploying those projects to Aptana Cloud.
	</p>
</div>

<div class="featured-right">
	<div class="featured-image png-fix">
		<a href="<%= videoUrl({ slug: 'rails-on-the-cloud' }) %>" title="Watch this video"><img src="images_featured_vids/img_rails-on-cloud.png" alt="Founder Paul Colton " /></a>
	</div>
	
	<div class="featured-link">
		<a href="<%= videoUrl({ slug: 'rails-on-the-cloud' }) %>" title="Watch this video">Watch this video</a>
	</div>
</div>

<div class="clearfix"></div>