<h1>Embed this video</h1>
<p>Copy the code below and paste it into your website.</p>
<textarea class="embed" name="embed" id="embed"><%= html %></textarea>
<p>
	<label for="video_size" style="font-weight: bold;">Player Size:</label>
	<select name="video_size" id="video_size" onchange="change_video_size()">
		<option value="600">600x375</option>
		<option value="500">500x313</option>
	</select><br />
</p>

<p>
	We currently offer two different sized players for you to embed on your site.  Simply choose the one you'd like, then copy the code in the box above and paste it into your website.
</p>

<script type="text/javascript">
	function change_video_size()
	{
		var size 		= $('video_size').value;
		
		if(size == '500')
		{
			$('embed').value = $('embed').value.replace(/"600"/g, '"500"');
			$('embed').value = $('embed').value.replace(/"375"/g, '"313"');
			$('embed').value = $('embed').value.replace(/player_600/g, 'player_500');
		}
		else
		{
			$('embed').value = $('embed').value.replace(/"500"/g, '"600"');
			$('embed').value = $('embed').value.replace(/"313"/g, '"375"');
			$('embed').value = $('embed').value.replace(/player_500/g, 'player_600');
		}
	}
</script>
